{
  "ignore": ["dist/*.js"],
  "env": {
    "es": {
      "presets": [["es2015", { "modules": false }], "react"],
      "plugins": ["external-helpers", "transform-class-properties"]
    },
    "commonjs": {
      "presets": ["es2015", "react"],
      "plugins": ["transform-class-properties"]
    }
  }
}
